.friends{
    display: flex;
    /*margin-left: 20px;*/
    /*flex-direction: column;*/
    /*height: 100%;*/
}
.friends-container {
    display: flex;
    margin-left: 20px;
    /*background-color: #78d382;*/
    width: 70%;
    height: 100%;
    background-color: white;
    border: 1px solid silver;
    border-radius: 3px;
    flex-flow: column;
}
.friends-search{
    display: flex;
    height: 50px;
    border: 1px solid silver;
}
.icon-friends-search {
    height: 25px;
    width: 25px;
    padding-top: 13px;
    padding-left: 12px;
    color: #9d9d9d;
}

.input-search-friends {
    width: 100%;
    border: 1px solid white;
    outline: none;
}

.icon-add-friends {
    height: 25px;
    width: 25px;
    padding-top: 13px;
    padding-left: 12px;
    padding-right: 12px;
    color: #9d9d9d;
}
.friends-all-users{
    display: flex;
    padding-top: 10px;
    border-bottom: 1px solid silver;
}

.photo-all-users{
    width: 60px;
    height: 60px;
    border-radius: 100px;
    box-shadow: 0 0 0 3px #282c34, 0 0 13px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 40px;
    margin-left: 25px;
}
.name-friends-all-users{
    position: relative;
    top: 20px;
    margin-left: -20px;
    margin-top: -15px;
    font-weight: bold;
    font-size: 18px;
    color: black;
}
.block-search{
    background-color: black;
    width: 100%;
    height: 22px;
}
.friends-span{
    display: flex;
    flex-flow: column;
}
.friends-status{
    margin-top: 30px;
}
.friends-all-users:hover{
    background-color: #f6f6f6;
}










.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}
.loader {
    color: #6f757f;
    font-size: 10px;
    /*margin: 30px auto;*/
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}
.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 3.5em;
}
@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
@keyframes load7 {
    0%,
    80%,
    100% {
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        box-shadow: 0 2.5em 0 0;
    }
}
